a {
    font-size: 25px;
    color: white;
}

body {
    background-image: url("background.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

h2 {
    color: white;
}

img {
    margin-left: 80%;
    margin-top: 300px;
}